body {
  background-color: #e0d4be;
}
.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h1 {
  margin-top: 10px;
  display: inline-block;
  font-family: "Playfair Display", serif;
  color: #617d5c;
  border: 2px solid #617d5c;
  border-radius: 16px;
  padding: 5px;
}
.p1 {
  margin-bottom: 20px;
}
h2 {
  font-family: "Playfair Display", serif;
  color: #617d5c;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #82624a;
}
.photo-profil {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 24px rgba(130, 98, 74, 1);
}
ul {
  color: #82624a;
  font-family: "Lora", serif;
  font-style: italic;
}
li {
  display: inline-block;
  border: 2px solid #82624a;
  border-radius: 16px;
  padding: 5px;
}
a {
  display: inline-block;
}
.icon {
  width: 32px;
  height: 32px;
}
.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  min-height: 100vh;
}
.gauche {
  text-align: center;
  flex: 1;
  max-width: 400px;
  border-radius: 8px;
  border: 2px solid #82624a;
  height: 100%;
}
.droite {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  align-items: start;
}

.droite img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.droite img:hover {
  transform: scale(1.03);
  cursor: pointer;
}
